.fulldata{
    background-color: rgb(212, 217, 221);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.fulldata2{
    width: 75%; 
}

.Contant_Section{
    height: 50vh;
    background-color: aqua;
    width: 100%;
}

.Contant_Section h1{
    font-size: 50px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 80px 80px 0 80px;
    /* margin: 50px; */
}

.Contant_Section p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 80px 80px 80px;
    line-height: 30px;
}

